* {
    /* box-shadow: 0px 0px 1px; */
    box-sizing: border-box;
}

html {
    font-family: Arial;
    font-size: 1vw;
    
    --tile-color: #d5e1df;
    --correct-color: #b5e7a0;
    --incorrect-color: #eca1a6;
    --background-color: #fefbd8;
    --header-color: #252525;
    --button-color: var(--header-color);
    --selected-tile-color: #8d8d8d;
}


body {
    background-color: var(--background-color);
}

main {
    position: absolute;
    top: 4vw;
    left: 0%;
    width: 100%;
}

.grid {
    position: relative;
    top: 10px;
    width: 95vw;
    margin: auto;
    max-width: 1450px;

    display: flex;
    flex-wrap: wrap;
}

.label-landing {
    background-color: var(--header-color);
    color: var(--background-color);
    text-align: center;
    font-size: min(0.9vw, 13px);

    width: 100%;
    border-radius: 5px 5px 0 0;

    box-sizing: border-box;
    border: 2px solid var(--background-color);
    
    position: absolute;
    left: -100%;
    transform-origin: top right;
    transform: rotate(-90deg) translateY(-100%);
}

.label-jump {
    background-color: var(--header-color);
    color: var(--background-color);
    text-align: center;

    width: min(4.5px, 0.3vw);
    height: 80%;
    border-radius: 4px;
    
    position: absolute;
    left: min(2.25px, -0.15vw);
    top: 50%;
    transform: translateY(-50%);
}


.button {
    display: block;
    background-color: var(--button-color);
    box-shadow: 0px 3px 5px 0px black;
    width: 15%;
    min-width: max-content;
    margin: min(15%, 210px) auto 10px auto;
    font-size: 1vw;
    color: var(--background-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.button:active {
    box-shadow: 0px 3px 5px 0px black inset;
}

.hidden-tile {
    opacity: 0%;
}

.hidden {
    display: none;
}

.rotate-warning-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
}
.rotate-warning-message > img {
    width: 300px;
}



.lantanids-grid {
    position: absolute;
    display: flex;
    width: 100%;
    top: 103%;
    /* left:13.8%; */
}

.actinides-grid {
    position: absolute;
    display: flex;
    width: 100%;
    top: 117.28%;
    /* left:13.8%; */
}



.score-container-wrapper {
    position: absolute;
    background-color: var(--header-color);
    width: calc(5.5555% * 5);
    padding-bottom: calc(5.5555% * 1.5);
    height: 0px;
    border-radius: 10px;
    opacity: 20%;

    top: calc(14.2% * 0.75);
    left: calc(5.5555% * 4.5);
}


.score-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #b5e7a0;
}